<div class="container">
  <div class="row">
    
    <div class="col-sm-12 col-md-offset-1 col-md-10">
      
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row vdivide">
            <div class="col-md-6">
              <a class="btn btn-block btn-social btn-lg btn-facebook" href="{{ logginFacebook }}">
                <i class="fa fa-facebook"></i>Sign in with Facebook</a>
              <a class="btn btn-block btn-social btn-lg btn-twitter" href="{{ loginTwitter }}">
                <span class="fa fa-twitter"></span>Sign in with Twitter</a>
              <a class="btn btn-block btn-social btn-lg btn-google" href="{{ loginGoogle }}">
                <i class="fa fa-google"></i>Sign in with Google</a>
            </div>
            <div class="col-md-6">
              <h3>Login</h3>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-offset-1 col-md-10">
        <core-logger [show]="'danger'"></core-logger>        
    </div>

  </div>
</div>