#wrapper {
    display: flex;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    padding-top: 70px;
    padding-left: 270px;
    min-height: 100vh;
    max-height: 100vh;
    transition: all 0.5s;
    flex: auto;
    background-color: azure;
}

div.logger-container{
    position: fixed;
    bottom: 0px;
    z-index: 1000000000000000000;
    width: 100%;
}

@media (max-width: 768px) {
    #content{
        padding-left: 100px;
    }
}