#wrapper {
    display: flex;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.5s;
    padding-top: 70px;
    flex: auto;
}

div.logger-container{
    position: fixed;
    bottom: 0px;
    z-index: 1000000000000000000;
    width: 100%;
}