.media{
    border-radius: 5px;
}
.media-left{
    padding-left: 5px
}

.media-right{
    padding-right: 5px
}

.media.mod{
    background-color: #86BB71;
}

.media.admin{
    background-color: #8A6D3B;
}

.dropdown{
    margin: 5px;
}