<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container" style="padding-top: 30px;">
      <div class="row">
          <% errors.forEach(function(error) { %>
            <div class="alert alert-danger" role="alert">
              <%= error %>
            </div>
          <% }); %>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-offset-3 col-md-6">
          <a class="btn btn-block btn-social btn-lg btn-twitter" >
            <span class="fa fa-twitter"></span>Sign in with Twitter
          </a>
          <a class="btn btn-block btn-social btn-lg btn-facebook" ><i class="fa fa-facebook"></i>Sign in with Facebook</a>
          <a class="btn btn-block btn-social btn-lg btn-google" ><i class="fa fa-google"></i>Sign in with Google</a>            

        </div>
      </div>
    </div>
  </body>
</html>
