  .panel-body{padding:9px;}
  
  .form button:hover,.form button:active,.form button:focus {
    background: #89c771;
  }
  .form .message, .room-create .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #86BB71;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }

  .container-body{
    height: 67vh !important;
  }

  /* Send */
  .chat-text textarea{
    width: 100%;
    border-radius: 20px;
  }
  .chat-button{
    font-size: 20px;
  }

  .panel-heading{
    padding: 1px 15px !important;
  }