<div class="row parent">

  <div class="panel panel-primary child">
    <div class="panel-heading" *ngIf="room">
      <h3>{{ room.title }}</h3>
      <p>{{ room.description }}</p>
    </div>

    <div class="panel-body">

      <div class="flex-container">
        <div class="flex-item-0" style="width: 100%;">
          <core-users-list [users]="users"></core-users-list>
        </div>

        <div class="flex-item-1">
          <ul class="chat-history">
            <li class="animated zoomIn" *ngFor="let m of buffer">
              <frontend-chat-message [message]="m"></frontend-chat-message>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel-footer">

      <div class="flex-container">
        <div class="flex-item-1 chat-text">
          <textarea class="form-control" rows="3" #text (keyup)="keyUp($event, text)"></textarea>
        </div>
        <div class="flex-item-0 chat-button">
          <button class="btn btn-primary" (click)="send(text)">
            <i class="glyphicon glyphicon-send"></i>
            <br> Send
          </button>
        </div>
      </div>

    </div>

  </div>

</div>