ul {
  list-style-type: none;
}
  .form button:hover,.form button:active,.form button:focus {
    background: #89c771;
  }
  .form .message, .room-create .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #86BB71;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }


  /* Send */
  .flex-container{
    display: flex;
  }
  .flex-item{
    margin: 5px;
  }
  .flex-item-text{
    order: 0;
    flex-grow: 8;
  }
  .flex-item-text textarea{
    width: 100%;
    border-radius: 20px;
  }
  .flex-item-button{
    order: 1;
    flex-grow: 0;
    font-size: 20px;
  }

  .panel-heading{
    padding: 1px 15px !important;
  }