<div class="row parent">

  <div class="panel panel-primary child">
    <div class="panel-heading" *ngIf="room">
      <h3>{{ room.title }}</h3>
      <p>{{ room.description }}</p>
    </div>

    <div class="panel-body">

      <div class="container-body row">
        
        <div #chatHistory class="body-item col-xs-9 col-md-10">
          <frontend-chat-history [buffer]="buffer"></frontend-chat-history>
        </div>

        <div #chatUsers class="body-item col-xs-3 col-md-2">
          <core-users-list [users]="userBuffer"></core-users-list>
        </div>

      </div>

    </div>

    <div class="panel-footer">
      
      <frontend-writer-message (send)="send($event)"></frontend-writer-message>
    
    </div>

  </div>

</div>